.card-image{
	width: inherit;
}

@media screen and (max-width: 3000px) {
  .card{
  		
		width: 350px;
		padding: 30px;
	}

}

@media screen and (max-width: 1255px) {
  .card{
		width: 300px;
		padding: 30px;
	}
	.masonry-div{
		padding-left: 40px;
	}
}


@media screen and (max-width: 1150px) {
  	.card{
		width: 376px;
		padding: 10px;
	}
}

@media screen and (max-width: 1060px) {
  	.card{
		width: 304px;
		padding: 10px;
	}
}

@media screen and (max-width: 980px) {
  	.card{
		width: 376px;
		padding: 30px;
	}
}

@media screen and (max-width: 920px) {
  	.card{
		width: 300px;
		padding: 30px;
	}
}


@media screen and (max-width: 780px) {
  	.card{
		width: 294px;
		padding: 30px;
	}
}

@media screen and (max-width: 760px) {
  	.card{
		width: 294px;
		padding: 10px;
	}
}

@media screen and (max-width: 726px) {
  	.card{
		width: 294px;
		padding: 10px;
	}
}


@media screen and (max-width: 671px) {
  	.card{
		width: 420px;
		padding: 30px 40px 30px 70px;
	}
}

@media screen and (max-width: 470px) {
  	.card{
		width: 300px;
		padding: 30px;
	}
}