.card-image{
	width: inherit;
}

@media screen and (max-width: 3000px) {
  .card{
		width: 500px;
		padding: 30px;
	}

}

@media screen and (max-width: 1153px) {
  .card{
		width: 400px;
		padding: 30px;
	}
}


@media screen and (max-width: 1000px) {
  	.card{
		width: 370px;
		padding: 30px;
	}
}


@media screen and (max-width: 880px) {
  	.card{
		width: 700px;
		padding: 30px;
	}
}


@media screen and (max-width: 750px) {
  	.card{
		width: 600px;
		padding: 30px;
	}
}

@media screen and (max-width: 630px) {
  	.card{
		width: 420px;
		padding: 30px;
	}
}

@media screen and (max-width: 470px) {
  	.card{
		width: 300px;
		padding: 30px;
	}
}